#listDiv div div {
    margin: 1em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#listMenuDiv div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}
#listMenuDiv div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #bac63e;
    font-weight: 500;
    padding: 7px 17px 7px;
    -webkit-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    line-height: 21px;
}
#listMenuDiv div div p{
    font-size: 2em;
    margin: 2px;
}
#listMenuDiv div:hover{
    background-color: white;
    color: #bac63e;
}
.Ajout{
    color:white;
    text-align: center;
    font-size: 80px;
    text-shadow:0.1em 0.1em 0.2em black;
}
.bom{
    color:darkblue;
    text-align: center;
    font-size: 45px;
}
/** ADD YOUR AWESOME CODES HERE **/