#listDiv div div {
    margin: 1em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#listMenuDiv div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}
#listMenuDiv div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #bac63e;
    font-weight: 500;
    padding: 7px 17px 7px;
    -webkit-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    line-height: 21px;
}
#listMenuDiv div div p {
    font-size: 2em;
    margin: 2px;
}
#listMenuDivDel div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}
#listMenuDivDel div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #bac63e;
    font-weight: 500;
    padding: 7px 17px 7px;
    -webkit-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    line-height: 21px;
}
#listMenuDivDel div div p {
    font-size: 2em;
    margin: 2px;
}
#listMenuDiv div:hover {
    background-color: white;
    color: #bac63e;
}
.Ajout {
    color: white;
    text-align: center;
    font-size: 80px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.bom {
    color: darkblue;
    text-align: center;
    font-size: 45px;
}
.deleteButtonIcon {
    height: 2em;
    width: 2em;
    color: red;
    background-color: white;
    font-size: 1.2em;
    border-radius: 50px;
    border-color: transparent;
    margin: 0.2em 0em 0.2em 0.2em;
    transform: scale(0.8);
    transition-property: transform;
    transition-duration: 1000ms;
}
.deleteButtonIcon:hover{
    color: white;
    background-color: red;
    transform: scale(1.15);
}


 .space{
     display:flex;
     flex-direction: row-reverse;
     
     
 }   
    
 #space{
     width: 35em;
     height: 35em;
     
 }

 
#submit{
    margin: 3.3em;
}

#ajoutRessources{
    margin:5em;
}

/** ADD YOUR AWESOME CODES HERE **/
