* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body*/
body {
  background-image: url(./Support/img/code-1839406_1920.png);
}

/*header*/

#header {
  background-color: aliceblue;
  position: relative;
  text-align: center;
}

/*logo*/
#logo {
  display: flex;

  height: 15vh;
  width: 13vw;
}

/*titre de la page*/
.titrePage {
  color: rgb(106, 109, 109);
}

/*barre de navigation*/
nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

li {
  color: rgb(223, 106, 11);
}


/*compteur de création du site*/
.compteur {
  text-align: center;
  margin-bottom: 5px;
}
.countup .timeel {
  display: inline-block;
  padding: 12px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 5vw;
  margin-left: 10vw;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #3e71b4;
  color: rgb(218, 212, 212);
}
