@font-face {
  font-family: "brush";
  src: url("./Support/brush-script-mt/brush\ script\ mt\ kursiv.ttf"),
    url("./Support/brush-script-mt/BRUSHSCI.ttf");
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
#enTete {
  font-family: "brush";
  display: flex;
  align-items: center;
}
#logo {
  margin-right: 1em;
  height: 10vh;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  text-align: center;
}
nav ul li {
  background-color: #3e71b4;
  list-style-type: none;
  margin: 0.5vh;
  padding: 0.5vh;
}
nav ul li a {
  color: white;
}
#compteurFooter {
  display: flex;
  flex-direction: column;
}
footer {
  text-align: center;
}

/*compteur de création du site*/
.compteur {
  text-align: center;
  margin-bottom: 5px;
}
.countup .timeel {
  display: inline-block;
  width: 3em;
  text-align: center;
  justify-content: center;
  background: #151515;
  color: white;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  background: #3e71b4;
  color: rgb(218, 212, 212);
}
